name: Release

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Get git version
        run: echo "GIT_VERSION=$(git describe --tags)" >> $GITHUB_ENV
          
      - name: Echo version
        run: echo $GIT_VERSION
        
      - name: Echo version again
        run: echo ${{env.GIT_VERSION}}
        
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        
      - name: set up docker buildx
        uses: docker/setup-buildx-action@v3

      - name: log into GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Docker meta for SEAMM
        id: meta-seamm
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/molssi-seamm/seamm
          tags:
            type=semver,pattern={{version}},value=${{ env.GIT_VERSION }}
          annotations: |
            org.opencontainers.image.description=SEAMM Graphical User Interface
            org.opencontainers.image.title=SEAMM
            org.opencontainers.image.authors=Paul Saxe <psaxe@vt.edu>
          labels: |
            org.opencontainers.image.description=SEAMM Graphical User Interface
            org.opencontainers.image.title=SEAMM
            org.opencontainers.image.authors=Paul Saxe <psaxe@vt.edu>

      - name: Build and push SEAMM
        uses: docker/build-push-action@v5
        with:
          context: ./environments
          file: ./environments/SEAMM_Dockerfile
          platforms: linux/amd64
          push: true
          tags: ${{ steps.meta-seamm.outputs.tags }}
          annotations: ${{ steps.meta-seamm.outputs.annotations }}
          labels: ${{ steps.meta-seamm.outputs.labels }}

      - name: Docker meta for RunFlowchart
        id: meta-runflowchart
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/molssi-seamm/run_flowchart
          tags:
            type=semver,pattern={{version}},value=${{ env.GIT_VERSION }}
          annotations: |
            org.opencontainers.image.description=Container to run SEAMM flowcharts
            org.opencontainers.image.title=RunFlowchart
            org.opencontainers.image.authors=Paul Saxe <psaxe@vt.edu>
          labels: |
            org.opencontainers.image.description=Container to run SEAMM flowcharts
            org.opencontainers.image.title=RunFlowchart
            org.opencontainers.image.authors=Paul Saxe <psaxe@vt.edu>

      - name: Build and push RunFlowchart
        uses: docker/build-push-action@v5
        with:
          context: ./environments
          file: ./environments/RunFlowchart_Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ steps.meta-runflowchart.outputs.tags }}
          annotations: ${{ steps.meta-runflowchart.outputs.annotations }}
          labels: ${{ steps.meta-runflowchart.outputs.labels }}

      - name: Docker meta for JobServer
        id: meta-jobserver
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/molssi-seamm/jobserver
          tags:
            type=semver,pattern={{version}},value=${{ env.GIT_VERSION }}
          annotations: |
            org.opencontainers.image.description=The JobServer for SEAMM
            org.opencontainers.image.title=JobServer
            org.opencontainers.image.authors=Paul Saxe <psaxe@vt.edu>
          labels: |
            org.opencontainers.image.description=The JobServer for SEAMM
            org.opencontainers.image.title=JobServer
            org.opencontainers.image.authors=Paul Saxe <psaxe@vt.edu>

      - name: Build and push JobServer
        uses: docker/build-push-action@v5
        with:
          context: ./environments
          file: ./environments/JobServer_Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ steps.meta-jobserver.outputs.tags }}
          annotations: ${{ steps.meta-jobserver.outputs.annotations }}
          labels: ${{ steps.meta-jobserver.outputs.labels }}

      - name: Docker meta for Dashboard
        id: meta-dashboard
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/molssi-seamm/dashboard
          tags:
            type=semver,pattern={{version}},value=${{ env.GIT_VERSION }}
          annotations: |
            org.opencontainers.image.description=The Dashboard for SEAMM
            org.opencontainers.image.title=Dashboard
            org.opencontainers.image.authors=Paul Saxe <psaxe@vt.edu>
          labels: |
            org.opencontainers.image.description=The Dashboard for SEAMM
            org.opencontainers.image.title=Dashboard
            org.opencontainers.image.authors=Paul Saxe <psaxe@vt.edu>

      - name: Build and push Dashboard
        uses: docker/build-push-action@v5
        with:
          context: ./environments
          file: ./environments/Dashboard_Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ steps.meta-dashboard.outputs.tags }}
          annotations: ${{ steps.meta-dashboard.outputs.annotations }}
          labels: ${{ steps.meta-dashboard.outputs.labels }}

      - name: Get message
        run: |
          {
          echo 'SLACK_MESSAGE<<EOF'
          git log -1 | sed 1,4d
          echo EOF
          } >> "$GITHUB_ENV"
          
      - name: Post to a Slack channel
        id: slack
        uses: slackapi/slack-github-action@v1.25.0
        with:
          channel-id: 'github'
          slack-message: ${{ env.SLACK_MESSAGE }}
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}


